<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Home Page</h1>
<form action="/java" method="post">
<input type="submit" value="JAVA">
</form><br><br><br>

<form action="/mysql" method="post">
<input type="submit" value="MySQL">
</form><br><br><br>

<form action="/frontend" method="post">
<input type="submit" value="FRONT-END">
</form><br><br><br>

<form action="/python" method="post">
<input type="submit" value="PYTHON">
</form><br><br><br>

<form action="/softskills" method="post">
<input type="submit" value="SOFT-SKILLS">
</form><br><br><br>





</body>
</html>